
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10pt; /* Adjust font size for readability */
    line-height: 1.4;
    background-color: #f4f4f4;
}

.image-label {
    display: flex;
    align-items: center; /* Align the label vertically with the image */
    gap: 10px; /* Add space between the image and the label */
}

img.relacion-trabajo {
    padding: 0 20px;
    height: 70px; /* Font size * line-height * 2 lines */
    width: auto; /* Keep the aspect ratio intact */
    vertical-align: middle; /* Align with text if placed inline */
}

.label-relacion-trabajo {
    font-size: 1rem; /* Match your text size */
    color: #003399;; /* Label color */
    text-transform: uppercase;
    vertical-align: middle; /* Align with the middle of the image */
}

.container {
    max-width: 800px;
    min-height: calc(100vh - 80px); /* Full viewport height minus top and bottom margin */            
    background-color: #ffffff; /* Ensure the white background is visible */
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: left;
    line-height: 1;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 3em;
    color: #003399;
}
.blue-strip {
    background-color: #003399;
    color: white;
    padding: 20px;
    margin: 20px -20px; /* Extend past container margins */
    text-align: left;
}
.blue-strip h2 {
    margin: 20px;
    font-size: 1.5em;
}
.blue-strip p {
    color: white;
}
.section {
    margin-bottom: 20px;
}
.section-title {
    font-size: 1.2em;
    text-transform: uppercase;
    /* color: #cc0000; */
    margin-bottom: 10px;
    margin-block-end: 0;
}
p {
    margin: 20px 20px 20px 20px;
}
ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-left: 0;
    list-style-type: none;
    padding-left: 0;
}
.column {
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.page-break {
    page-break-after: always;
}